*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--brand-color);
  /* overflow-x: hidden; */
}

/* html {

    overflow-x: hidden;
} */

p {
  margin: 0;
}

h2 {
  margin: 0;
}

div {
  display: block;
}

ul {
  padding: 0%;
  margin: 0;
}

.navig {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  gap: 40px;
}

.cls-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-link:hover,
.cls-link:focus {
  color: #404bbf;
}

.cls-link {
  display: inline-block;
  padding: 24px 0;
}

.topdiv {
  display: flex;
  justify-content: space-between;
}

.first-button {
  display: block;
  align-items: center;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  margin: 0 auto;
}

.subscribe-section {
  margin-left: 130px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

img {
  display: block;
}

:root {
  --brand-color: #ffffffff;
  --blue: #4d5ae5;
  --dark-blue: #2e2f42;
  --more-blue: #434455;
  --light-color: #f4f4fd;
  --button-color: #4d5ae5;
  --main-button: #e7e9fc;
  --link-color: #8e8f99;
  --check-color: #404bbf;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* .container .adaptive {

    max-width: 320px;
} */

.second-link {
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
}

.link {
  text-decoration: none;
  display: block;
}

/* .link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.logo-studio-dark {
  color: var(--dark-blue);
}

.list {
  list-style: none;
}

.contact {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
}

.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--more-blue);
  font-style: normal;
}

.index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
  text-decoration: none;
}

.index:hover {
  color: #404bbf;
}

.index:focus {
  color: #404bbf;
}

.contact {
  color: var(--more-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover {
  color: #404bbf;
}

.contact:focus {
  color: #404bbf;
}

.first {
  color: var(--dark-blue);
  background-color: var(--dark-blue);
  padding: 188px 0;
  height: 600px;
  flex-shrink: 0;
  align-items: center;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-title {
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

.btn {
  cursor: pointer;
}

.titlefour {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
}

.firsttitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.titleh {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue);
}

.lastsection {
  background-color: #f4f4fd;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue);
}

.ord {
  background-color: #ffffffff;
}

.lastpart {
  background-color: var(--dark-blue);
  padding: 100px 0;
  /* max-width: 1440px;
    margin: 0 auto; */
}

.description {
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;
}

.custom-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
}

.teamp {
  background-color: #ffffffff;
}

.firsttitle {
  color: var(--more-blue);
}

.logoc {
  color: #f4f4fd;
}

.firstbtn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: var(--light-color);
}

.firstbtn:hover {
  color: #ffffffff;
  background-color: #404bbf;
}

.firstbtn:focus {
  color: #ffffffff;
  background-color: #404bbf;
}

.firstbtn {
  cursor: pointer;
}

.first-row {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hidden-title {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.first-row-list {
  display: flex;
  gap: 24px;
}

.title-first-element {
  margin-bottom: 8px;
}

.third-section {
  padding-bottom: 120px;
}

.title-second-element {
  margin-bottom: 72px;
}

.second-row-list {
  display: flex;
  gap: 24px;
}

.last-row {
  display: flex;
  padding: 120px 0;
}

.last-title {
  margin-bottom: 72px;
}

.last-list {
  display: flex;
  gap: 24px;
}

.first-name {
  padding: 32px 0;
}

.title-name {
  text-align: center;
  margin-bottom: 8px;
}

.job {
  text-align: center;
}

.logo-st {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
}

.last-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  font-weight: 400px;
  line-height: 1.5;
}

.portf-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.main-btn {
  border: 1px solid var(--main-button);
  border-radius: 4px;
  padding: 12px 24px;
}

.main-btn:hover {
  border: 1px solid transparent;
}

.main-btn:focus {
  border: 1px solid transparent;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0%;
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-title {
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.last-element {
  max-width: 100%;
}

.heroi {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img15.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

#Customers {
  width: 168px;
  height: 88px;
}

.btn-all:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ant {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.insta {
  width: 40px;
  height: 40px;
}

.instagr {
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagr:hover {
  background-color: #404bbf;
}

.instagr:focus {
  background-color: #404bbf;
}

.firstred {
  fill: var(--light-color);
}

.social {
  list-style: none;
  padding-inline-start: 0%;
}

.custom-class {
  padding: 120px 0 15px;
}

.title-cust {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-blue);
  margin-bottom: 72px;
  text-align: center;
}

.list-cust {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  justify-content: center;
  flex-shrink: 0;
  list-style: none;
}

.link-customer {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customer:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.link-customer:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-class {
  fill: currentColor;
}

.section-five-list {
  width: calc((100% - 120px) / 6);
}

.foot-div {
  display: flex;
  align-items: baseline;
}

.footer-div-logo {
  margin-right: 120px;
  flex-direction: column;
  display: inline-block;
}

.scp {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.ul-div-class {
  display: flex;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
}

.last-element-div {
  width: 40px;
  height: 40px;
}

.last-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-link:hover {
  background-color: #31d0aa;
}

.last-link:focus {
  background-color: #31d0aa;
}

.firstredsocial {
  fill: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-end: 0%;
}

.modal-cls {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wind {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.abs-link {
  color: #404bbf;
  position: relative;
}

.abs-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.port-link {
  position: relative;
  color: #404bbf;
}

.port-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

button {
  margin: 0;
}

.md-sv {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-link-portf {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
  position: relative;
  overflow: hidden;
}

.app-storage {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-link:hover .app-storage {
  transform: translateY(0);
}

.portf-link:focus .app-storage {
  transform: translateY(0);
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.portf-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sbsc {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffffff;
}

.subs-class {
  display: flex;
}

.placeh {
  /* width: 100%; */
  height: 40px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  width: 264px;
}

#footerdescription {
  width: 264px;
}

.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.subs-logo {
  margin-left: 16px;
  fill: #fff;
}

.div-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
  margin-bottom: 16px;
}

.form-div {
  margin-bottom: 8px;
  /* margin-left: 100px; */
}

.lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-color);
  display: block;
  margin-bottom: 4px;
  width: 350px;
  margin-right: 0;
}

.icn {
  position: relative;
}

.name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name:focus {
  border-color: #4d5ae5;
}

.phone {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus svg,
a:focus use {
  fill: #4d5ae5;
}

.user-div {
  margin-bottom: 16px;
}

.txt {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.txt {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.txt:focus {
  border-color: #4d5ae5;
}

.cbox {
  margin-bottom: 24px;
}

.cbox label {
  display: block;
}

.privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-color);
}

.policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 10px;
}

.check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  color: var(--button-color);
}

.btn-subs {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.inp:checked + .privacy span:first-child {
  border: none;
  background-color: var(--check-color);
  fill: var(--light-color);
}

.name:focus + .phone {
  fill: #4d5ae5;
}

/* TEMA 7 */

.btn-mobile-nav {
  display: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 20px;
  width: 20px;
  color: #333;
}

.navigation {
  display: none;
}

/* .container {

     overflow-x: hidden; 
} */

/* QUERIES */

@media screen and (max-width: 428px) {
  #mySubs {
    margin-left: 150px;
  }

  #portfDiv {
    margin-right: 0%;
  }

  #myLogoDiv {
    margin-right: 0%;
  }

  .input--class {
    width: 350px;
    margin-bottom: 30px;
  }

  /* #myPH {
    
            width: 370px;
        } */

  /* .lbl--class {

            margin-left: 0;
        } */

  #mysubscribe {
    margin-right: 0;
  }

  .btn-mobile-nav {
    display: block;
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 22px;
    flex-shrink: 0;
  }

  .top-line {
    display: none;
  }

  .header {
    padding: 24px;
    position: relative;
  }

  .topdiv {
    margin: 0 auto;
  }

  .container {
    overflow-x: hidden;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 1px rgb(46 47 66 / 8%), 0 1px 1px rgb(46 47 66 / 16%),
      0 1px 6px rgb(46 47 66 / 8%);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
  }

  .studio-link {
    color: #404bbf;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;

    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .nav--link {
    color: #2e2f42;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .number {
    color: var(--IRIS, #4d5ae5);

    /* Header 2 */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .e-mail {
    color: var(--SLATE, #434455);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
    text-decoration: none;
  }

  .section-title {
    width: 320px;
  }

  .title {
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .heroi {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      )
      url(../images/img15.jpg);
  }

  .ant {
    display: none;
    background-color: transparent;
  }

  .first-row-list {
    display: block;
  }

  .titlefour {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .firsttitle {
    color: var(--SLATE, #434455);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .first-row {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  .third-section {
    display: none;
  }

  .last-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
  }

  .list-cust {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    row-gap: 70px;
  }

  .section-five-list {
    width: 150px;
    height: 88px;
    flex-shrink: 0;
  }

  .custom-class {
    padding: 120px 0 10px;
  }

  .foot-div {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-div-logo {
    margin-right: 0;
  }

  .last-description {
    color: var(--CLOUD, #f4f4fd);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .logo-st {
    margin-left: 50px;
  }

  .scp {
    margin-top: 70px;
    margin-left: 40px;
  }

  .subs-class {
    flex-wrap: wrap;
  }

  .subscribe-text {
    /* margin-top: 50px;
                    margin-left: 140px; */

    text-align: center;
  }

  .subscribe-section {
    margin: 0;
  }

  .form-div {
    margin-right: 100px;
  }

  /* .placeh {

                    width: 400px;
                } */

  .btn-subscribe {
    margin-left: 100px;
  }

  .class2 {
    margin-right: 0;
  }
}

.navigation.is-open {
  /* opacity: 1;
        pointer-events: auto;
        visibility: visible; */
  transform: translateX(0);
}

/* .navigation {

        transform: translateX(0);
    } */

.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 320px;
}

@media screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  #mysubscribe {
    margin-left: 0;
  }

  .btn-mobile-nav {
    display: block;
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 22px;
    flex-shrink: 0;
  }

  .top-line {
    display: none;
  }

  .header {
    padding: 24px;
    position: relative;
  }

  .topdiv {
    margin: 0 auto;
  }

  .container {
    overflow-x: hidden;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 1px rgb(46 47 66 / 8%), 0 1px 1px rgb(46 47 66 / 16%),
      0 1px 6px rgb(46 47 66 / 8%);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
  }

  .studio-link {
    color: #404bbf;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;

    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .nav--link {
    color: #2e2f42;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .number {
    color: var(--IRIS, #4d5ae5);

    /* Header 2 */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .e-mail {
    color: var(--SLATE, #434455);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
    text-decoration: none;
  }

  .modal-wind {
    width: 390px;
    height: 500px;
    overflow-x: scroll;
    min-height: 0;
  }

  .ant {
    display: none;
  }

  .first-row-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .last-element {
    width: 365px;
    display: flex;
    width: 356px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .titlefour {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .third-section {
    display: none;
  }

  .last-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .teamp {
    width: 264px;
    align-items: center;
  }

  .list-cust {
    display: flex;
    /* width: 768px; */
    padding-top: 72px;
    align-items: center;
    /* /* gap: 96px; */
    flex-wrap: wrap;
  }

  .section-five-list {
    width: 168px;
    height: 88px;
  }

  .custom-class {
    padding-top: 100px;
    padding-bottom: 0%;
  }

  .foot-div {
    flex-wrap: wrap;
    /* display: flex; */
    justify-content: center;
  }

  .form-div {
    /* margin-right: 240px; */
    padding-top: 80px;
  }

  /* .btn-subscribe {

                            margin-left: 50px;
                        } */

  /* .footer-div-logo {

                            margin-right: 90px;
                        }  */

  .subs-class {
    margin-left: 20px;
  }

  .subscribe-text {
    margin-right: 80px;
  }

  #myDiv {
    margin-left: 0;
    padding-top: 0;
  }

  .tablet--size {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1158px) {
  .section-five-list {
    width: 168px;
    height: 88px;
  }

  .custom-class {
    padding-bottom: 20px;
  }

  .footer-div-logo {
    margin-left: 20px;
    margin-right: 60px;
  }

  .last-description {
    color: var(--CLOUD, #f4f4fd);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
  }

  .container {
    overflow-x: hidden;
  }

  .form-div {
    margin-left: 40px;
  }

  .class--div {
    margin-left: 0;
  }
}

@media screen and (max-width: 428px) {
  .mobile--list {
    flex-wrap: wrap;
    margin-right: 60px;
  }

  .main--first--btn {
    background: var(--OCEAN, #404bbf);
  }

  #myBtn {
    color: var(--WHITE, #fff);
  }

  .interface--concept {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .small--title {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  #mySubs {
    margin-left: 150px;
  }

  #portfDiv {
    margin-right: 0%;
  }

  #myLogoDiv {
    margin-right: 0%;
  }

  /* #myPH {

    width: 400px;
   } */

  #mysubscribe {
    margin-right: 0;
  }

  .subscribe-text {
    margin-right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  .tablet--size {
    margin-left: 20px;
  }

  .btn-mobile-nav {
    display: block;
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 22px;
    flex-shrink: 0;
  }

  .main--first--btn {
    background: var(--OCEAN, #404bbf);
  }

  #myBtn {
    color: var(--WHITE, #fff);
  }

  .interface--concept {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .small--title {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .row--list {
    display: flex;
    flex-wrap: wrap;
  }

  .row--element {
    width: 300px;
  }

  .second-title-card {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  #mysubscribe {
    margin-left: 0;
  }

  .mail--placeholder {
    width: 300px;
  }

  .portfolio--header {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    background: var(--WHITE, #fff);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (max-width: 1158px) {
  .cards--list {
    column-gap: 10px;
  }

  .main--first--btn {
    background: var(--OCEAN, #404bbf);
  }

  #myBtn {
    color: var(--WHITE, #fff);
  }
}
